<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navbar.html"
>
<head>
  <meta charset="UTF-8">
  <title>Patients Patients</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div layout:fragment="content">
  <div class="p-3">
    <form method="post" th:action="@{/savePatient}" th:object="${patient}">
      <div class="mb-3 mt-3">
        <label for="nom" class="form-label">Nom:</label>
        <input type="text" class="form-control" id="nom" placeholder="Nom" th:field="*{nom}">
        <span class="text-danger" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
      </div>
      <div class="mb-3">
        <label for="dateNaissance" class="form-label">Date Naissance:</label>
        <input type="date" class="form-control" id="dateNaissance" placeholder="Date Naissance"
               th:field="*{dateNaissance}" th:format="'dd-mm-yyyy'">
        <span class="text-danger" th:if="${#fields.hasErrors('dateNaissance')}" th:errors="*{dateNaissance}"></span>
      </div>
      <div class="mb-3 mt-3">
        <label for="score" class="form-label">Score:</label>
        <input type="text" class="form-control" id="score" placeholder="Score"
               th:field="*{score}">
        <span class="text-danger" th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></span>
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" id="malade" th:field="*{malade}">
          Malade
        </label>
        <span class="text-danger" th:if="${#fields.hasErrors('malade')}" th:errors="*{malade}"></span>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>

  </div>
</div>
</div>
</body>
</html>