<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
        table {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
        }
        table th,
        table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
        th {
            background-color: #007bff;
            color: #fff;
        }
        tr:nth-child(even) {
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
<div class="container">
    <a th:href="@{'/patients?page=0'}">
        <h1 class="mt-4 mb-4">Patients</h1>
    </a>
    <form class="form-inline search-form" th:action="@{'/patients'}" method="get">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" name="keyword" id="searchKeyword" th:value="${keyword}" placeholder="Nom...">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Chercher</button>
    </form>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Date de Naissance</th>
            <th scope="col">Malade</th>
            <th scope="col">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.nom}"></td>
            <td th:text="${patient.dateNaissance}"></td>
            <td th:text="${patient.malade}"></td>
            <td th:text="${patient.score}"></td>
            <td>
                <a class="btn btn-danger" th:href="@{delete(id=${patient.id},page=${currentPage},keyword=${keyword})}">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:if="${currentPage > 0}">
                <a class="page-link" th:href="@{'/patients?page=' + ${currentPage - 1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:if="${totalPages > 0}" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="'active'">
                <a class="page-link" th:href="@{'/patients?page=' + ${i}}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:if="${currentPage + 1 < totalPages}">
                <a class="page-link" th:href="@{'/patients?page=' + ${currentPage + 1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
